annotated-types      
anyio                
certifi              
click                
colorama             
dnspython            
email_validator      
fastapi              
h11                  
httpcore             
httptools            
httpx                
idna                
itsdangerous         
Jinja2               
MarkupSafe           
orjson               
pip                  
pydantic             
pydantic_core        
pydantic-extra-types 
pydantic-settings    
python-dotenv        
python-multipart     
pytz                 
PyYAML               
setuptools           
sniffio              
starlette            
starlette-context    
typing_extensions    
ujson                
uvicorn              
watchfiles           
websockets
