<!DOCTYPE html>
<html>
    <head>
        <title>Поставити оцінку</title>
        
        
    </head>
    <body>
        <div class = 'padd'>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <span>
            <p style="text-align:center">
                Кому сьогодні двійка?
            </p>
            <form type="hidden" method = 'post' action="add_marks_post" id = 'myForm'>
                <label style="width: 100px;">Кому:</label>
                <select name="student" id="select1" onchange="saveSelection(this.id, this.value)">
                    {%for student in student_list%}
                        <option value = {{student[0]}}>{{student[1]}}</option>

                    {%endfor%}                
                </select>
            





            <label style="width: 100px;">Предмет:</label>
            <select name = 'subject' id="select2" onchange="saveSelection(this.id, this.value)">

                {%for subj in subj_list%}
                    <option value = {{subj_list.index(subj)}}>{{subj}}</option>
                {%endfor%}  


            </select>


            <label style="width: 100px;">Оцінка:</label>
            <select name = 'mark' id="select3" onchange="saveSelection(this.id, this.value)">

                {%for mark in marks_list%}
                    <option value = {{mark}}>{{mark}}</option>
                {%endfor%}

            </select>
            <label>За що:</label>
                <input type ='text' name = 'reason' id ='textInput'>
            <p><input type = 'submit' class = "btn btn-success btn-sm"value = "Поставити"></p>




            </form> 

       
            </span>
        </div>
        <script>
        function saveSelection(selectId, value) {
            localStorage.setItem(selectId, value);
        } 


        function setSelectedOptions() {
            document.querySelectorAll('select').forEach(select => {
                const savedValue = localStorage.getItem(select.id);
            if (savedValue) {
                select.value = savedValue;
            }
            });
        }

        window.onload = setSelectedOptions;
        document.getElementById("myForm").addEventListener("submit", function(event) {
            var inputField = document.getElementById("textInput");
            var inputValue = inputField.value.trim(); // Remove leading and trailing whitespace
    
    // If input is empty, set its value to an empty string
            if (inputValue === null || inputValue === "") {
                inputField.value = "";
            }
        });
        </script>
    </body>
    